.nav {
    @include lg {
        background-color: inherit;
        font-size: 14px;
        width: 400px;
        position: absolute;
        left: 50%;
        top: 0;
        box-shadow: none;
        animation: var(--animation, slideIn2) var(--animation-duration, 0.55s) forwards 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate(-50%, var(--move-from, -100%));
    }
  
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    position: fixed;
    bottom: 0;
  
    width: 100%;
    background-color: $c-white;
    height: 50px;
    -webkit-box-shadow: 0 18px 85px 14px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 18px 85px 14px rgba(0,0,0,0.25);
    box-shadow: 0 18px 85px 14px rgba(0,0,0,0.25);
  
    &__el {
        a {
            padding: 10px 30px;
            cursor: pointer;
            border: none;
  
            svg {
                max-width: 20px;

                @include lg {
                    max-width: 14px;
                }
            }
        }
    }
}
  
.tab-link {

    &--home, 
    &--wishlist {
        --content: '';

        svg {
            @include lg {
                display: none;
            }
        }

        &::before {
            @include lg {
                color: $c-details;
                content: var(--content);
            }
        }
    }

    &--home {
        --content: 'Home';
    }

    &--wishlist {
        --content: 'Ma liste';
    }

    &--search {
        svg {
            padding: 1px 4px;
            border-radius: 5px;
            box-sizing: content-box;

            @include lg {
                background-color: $c-details;
            }
          }
    }
}