html {
  font-size: 10px;
}

body {
  color: $c-black;
  margin: 0;
  background: $c-white;
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;

  font-size: 1.6rem;
}


li,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

section:last-child {
  margin-bottom: 70px;
}

.page {
  display: none;

  &--open {
    display: block;
  }
}

.trigger {
  z-index: 1;
  position: absolute;
  background-image: url("../assets/images/plus.svg");
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  top: 348px;
  right: 10px;
  display: flex;
  cursor: pointer;
  background-color: inherit;
  border: none;
  outline: none;

  &--added {
    cursor: pointer;
    background-image: url("../assets/images/check.svg");
    top: 356px;
    height: 28px;
    width: 40px;
  }
}

.page--wishlist {
  max-width: 100%;
}

.wishlist {
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 70px;

  &__title {
    @include lg {
      margin-top: 2em;
    }
    font-size: 38px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 0.5em;
  }

  &__el {
    margin: 10px;
    cursor: pointer;

    img {
      display: block;
      max-width: 150px;
      border-radius: 15px;
    }
  }
}

.backdrop {
  position: absolute;
  top: -40vh;
  left: -50vw;
  background-color: black;
  height: 150vh;
  width: 150vw;
  opacity: 0.9;
  z-index: 0;
}

.movie {
  @include lg {
    z-index: 5;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
  }

  &__poster {
    img {
      max-width: 100%;
    }
  }

  &__desc {
    @include lg {
      z-index: 6;
    }
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__info {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    display: block;
    text-align: center;
    width: 135px;
    padding: 1px 6px;
    border-radius: 8px;
  }

  &__el {
    position: relative;
    margin-left: 20px;
    font-size: 12px;
    padding: 0 10px 0 0;

    &::before {
      position: absolute;
      left: -20px;
      top: 50%;
      transform: translateY(-50%);
      content: "";
      background-image: url("../assets/images/time.svg");
      background-size: cover;
      width: 14px;
      height: 14px;
      display: block;
      background-repeat: no-repeat;
    }

    &:last-child {
      padding-right: 0;

      &::before {
        position: absolute;
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
        content: "";
        background-image: url("../assets/images/star.svg");
        background-size: cover;
        width: 14px;
        height: 14px;
        display: block;
        background-repeat: no-repeat;
      }
    }
  }

  &__content {
    animation: scaleIn 0.35s forwards cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: scale(0.8);
    opacity: 0;
    margin: 0 0 70px;

    @include lg {
      background-color: $c-white;
      z-index: 1;
      position: relative;
      margin: 0 0 30px;
      max-height: 80vh;
      overflow: scroll;
    }
  }

  &__poster {
    @include lg {
      position: inherit;
      margin: 0 auto;
      left: 0;
      transform: none;
    }
    position: relative;
    z-index: 10;
    height: 332px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 150px;

    &--deco {
      @include lg {
        max-width: 500px;
      }
      z-index: 1;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 332px;
      overflow: hidden;

      img {
        @include md {
          top: -25%;
          left: 50%;
          transform: translateX(-50%);
          width: 110%;
        }

        max-width: 110%;
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        margin: 0 auto;
        filter: blur(10px);
        opacity: 0.85;
      }
    }

    img {
      border-radius: 20px;
    }
  }

  &__title {
    font-size: 30px;
    line-height: 1.3;
    margin-top: 8px;

    span {
      font-size: 14px;
    }
  }

  &__overview {
    @include lg {
      font-size: 16px;
    }
    font-size: 13px;
  }
}

.nav {
  @include lg {
    background-color: inherit;
    font-size: 14px;
    width: 400px;
    position: absolute;
    left: 50%;
    top: 0;
    box-shadow: none;
    animation: slideIn2 0.55s forwards 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate(-50%, -100%);
  }

  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: fixed;
  bottom: 0;

  width: 100%;
  background-color: $c-white;
  height: 50px;
  -webkit-box-shadow: 0 18px 85px 14px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 18px 85px 14px rgba(0,0,0,0.25);
  box-shadow: 0 18px 85px 14px rgba(0,0,0,0.25);

  &__el {

    a {
      padding: 10px 30px;
      cursor: pointer;
      border: none;

      svg {
        @include lg {
          max-width: 14px;
        }
        max-width: 20px;
      }
    }
  }
}

.home__btn {
  &::before {
    @include lg {
      content: "Home";
      color: $c-details;
    }

    &:hover {}
  }

  svg {
    @include lg {
      display: none;
    }
  }
}

.wishlist__btn {
  &::before {
    @include lg {
      content: "Ma liste";
      color: $c-details;
    }
  }

  svg {
    @include lg {
      display: none;
    }
  }
}

.search__btn {
  svg {
    @include lg {
      background-color: $c-details;
    }
    padding: 1px 4px;
    border-radius: 5px;
  }
}

.search {
  @include lg {
    box-shadow: none;
    margin-top: 50px;
  }
  display: flex;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 -11px 49px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 -11px 49px 3px rgba(0,0,0,0.2);
  box-shadow: 0 -11px 49px 3px rgba(0,0,0,0.2);

  &__movies {
    @include lg {
      min-width: 1000px;
      max-width: 1300px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      justify-content: flex-start;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    background-color: $c-white;
  }

  &__el {
    @include lg {
      width: 480px;
      height: 100%;
    }
    cursor: pointer;
    display: flex;
    background-color: $c-lightgrey;
    margin: 10px 10px 0;
    border-radius: 10px;

    &:last-child {
      margin-bottom: 70px;
    }

    &:hover {
      background-color: $c-darkgrey;
    }

    img {
      height: 120px;
      margin: 4px;
      border-radius: 10px;
    }

    h2 {
      color: $c-details;
      font-size: 18px;
      line-height: 1;
      margin: 10px 10px 0;

      span {
        font-size: 12px;
        font-weight: 500;
      }
    }
  }

  &__content {
    flex-direction: column;
    display: flex;
  }

  &__overview {
    max-width: 60ch;
    line-height: 1.4;
    font-size: 14px;
    margin: 10px;
  }

  &__txt {
    @include lg {
      max-width: 400px;
    }
    color: $c-black;
    border: 1px solid darken(#F2F2F2, 10);
    width: 70%;
    margin: 20px auto;
    border-radius: 20px;
    background: none;
    outline: none;
    float: left;
    padding: 6px 12px;
    font-size: 16px;
    transition: 0.4s;
    line-height: 20px;
    // width: 0px;
  }

  &__page {
    background-color: $c-white;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
  }
}

.btn {
  animation: scaleIn 0.35s forwards cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: scale(0);
  opacity: 0;
  z-index: 100;
  margin: 20px;
  position: absolute;
  right: 0;
  background-color: rgba(255, 255, 255, .2);
  padding: 5px;
  border-radius: 50%;
  border: none;
  cursor: pointer;

  svg {
    vertical-align: middle;
    font-size: 200px;
    pointer-events: none;
  }
}

.movies {
  margin: 0 20px;
  min-height: 280px;

  strong {}

  &__scroll-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: fadeIn 1s forwards 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
    display: block;
    border-radius: 15px;
    
    @include lg {
      transform: translateY(100%);
      animation: slideIn 0.55s forwards 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }

  &__text {
    font-size: 14px;
    text-align: center;
    margin: 5px auto 0;
    max-width: 150px;
  }

  &__el {
    border-radius: 15px;
    margin: 0 5px;
    height: 25rem;
    aspect-ratio: 7/11;
    
    @include lg {
      height: 28rem;
    }
  }
}

.container {
  @include lg {
    max-width: 1150px;
  }
  @include xl{
    min-width: 1300px;

  }
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}
.presentation-header{
  @include lg{
    overflow: visible;
    height: 600px;
  }
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  &__content{
    @include lg{
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      width: 700px;
      display: flex;
      flex-direction: row;
      height: 340px;
      padding-top: 0;
      text-align: left;
    }
    height: 365px;
    color: $c-white;
    text-align: center;
    font-size: 14px;
    padding-top: 20px;
  }
  &__el{
    &:first-child{
      @include lg{
        margin-left: 40px;
        margin-top: 40px;
      }
    }
    &:last-child{
      @include lg{
        order: -1;
        align-self: flex-start;
        margin-top: 50px;
      }

    }
  }
  &__text{
    @include lg{
      max-width: 300px;
      display: block;
    }
    z-index: 1;
    display: none;
  }
  
  &__bg{
    @include lg{
      height: 340px;
    }
    position: absolute;
    top: 0;
    height: 385px;
    width: 100%;
    background-image: url('../assets/images/bg.png');
    background-color: $c-details;
    z-index: -1;
    background-size: cover;
    pointer-events: none;
  }
  &__title{
    @include lg{
      margin-top: 0;
      font-size: 44px;
    }
    z-index: 3;
    font-size: 38px;
    margin: 16px 0 16px 0;
    line-height: 1;
  }

  &__img{
    @include lg{

      max-height: 500px;
      max-width: 100%;
      top: 120px;
      position: inherit;
      order: -2;
      transform: none;
    }
    z-index: 1;
    border-radius: 30px;
    -webkit-box-shadow: 0px 2px 28px 1px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 2px 28px 1px rgba(0,0,0,0.12);
    box-shadow: 0px 2px 28px 1px rgba(0,0,0,0.12);
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 200px;
    height: 100%;
    margin: 0 auto;
  }
}
.section{
  margin: 0 20px;
}
.intro{
  @include lg{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  margin-bottom: 60px;
  &__title{
    display: block;
    position: relative;
    margin-top: 40px;
    span{
      color: $c-details;
    }
  }
  &__text{
    max-width: 60ch;
  }
}
.animation{
  opacity: 1;
  animation: page .5s;
}

.button {
  color: $c-details;
  padding: 0.4em 1.2em;
  background-color: $c-white;
  border-radius: 0.6em;
}

.link{
  @include lg{
    height: 250px;
  }
  height: 120px;
  position: relative;

  &__el{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $c-white;
    background-color: $c-details;
  }

}
.list{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.fonctions{
  &__list{
    @include lg{
      text-align: center;
      max-width: 300px;
      padding: 20px 30px;
      border-radius: 20px;
    }
    margin-top: 30px;
    background-color: $c-details-light;
    justify-content: center;
    margin: 10px;
    padding: 10px;
  }
  @include lg{
    background-color: inherit;
    display: flex;
    justify-content: center;
  }
  padding: 20px 0;
  background-color: $c-details-light;
  .title{
    margin-top: 0;
    margin-bottom: 35px;
  }
  &__block{
    @include lg{
      display: flex;
    }
  }
  &__title{
    margin-bottom: 0;
    font-size: 16px;
    color: $c-details;
    text-align: center;
  }
  &__el{
    display: flex;
    flex-direction: column;
    img{

    }
    p{
      display: flex;
      margin: 0 auto;
      max-width: 350px;
    }
  }
}

.header-wrapper {
  height: 450px;
  background-color: $c-details;
}

.header {
  &__wrapper {
    height: 450px;
    background-color: $c-details;
  }

  &__inner {
    transform: translateY(-100%);
    animation: slideIn 0.55s forwards 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;

    @include lg {
      justify-content: center;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      background-image: url("../assets/images/scene_1.jpg");
      background-position: center;
      background-size: cover;
    }
  }
  

  &__content {
    @include lg {
      position: inherit;
      max-width: 500px;
    }
    overflow: hidden;
    max-width: 450px;
    width: 100%;
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__runtime {
    display: inline-block;
    font-weight: 100;
    font-size: 16px;
    margin-left: 5px;
  }

  &__genre {
    border: 1px solid $c-white;
    border-radius: 4px;
    padding: 2px 6px;
    margin: 0 10px 20px 0;
    font-size: 10px;
    text-transform: uppercase;
    color: $c-white;
  }

  &__title {
    @include md {
      font-size: 50px;
      max-width: inherit;
    }
    max-width: 350px;
    display: block;
    font-size: 42px;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 0.3em;
  }

  &__note {
    @include lg {
      margin-top: -12px;
      align-self: flex-start;
      margin-bottom: 15px;
    }
    position: relative;
    align-self: center;
    font-family: proxima-nova, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 26px;
    margin-right: 10px;
    margin-left: 25px;

    &::before {
      @include lg {
        position: absolute;
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
        content: "";
        background-image: url("../assets/images/star_white.svg");
        background-size: cover;
        width: 14px;
        height: 14px;
        display: block;
        background-repeat: no-repeat;
        background-color: inherit;
      }
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -20px;
      content: "";
      display: block;
      height: 40px;
      background-color: $c-white;
      width: 1px;
    }
  }

  &__el {
    display: flex;
    z-index: 1;
    margin-left: 20px;
    margin-right: 20px;

    &--genre {
      transform: translateX(-110%);
      animation: slideInRight 0.55s forwards 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    &--text {
      @include lg {
        color: $c-white;
        display: flex;
        flex-direction: column;
      }
      transform: translateX(-110%);
      animation: slideInRight 0.55s forwards 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
      justify-content: space-between;
      color: $c-white;
    }
  }
}

.movie-hl {
  @include lg {
    max-width: 200px;
  }

  &__gradient {
    @include lg {
      display: none;
    }
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 450px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 25%, rgba(0,0,0,1) 90%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 25%,rgba(0,0,0,1) 90%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 25%,rgba(0,0,0,1) 90%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }

  &__el {
    max-width: 100%;
    z-index: 0;

    img {
      @include lg {
        border-radius: 20px;
      }
      z-index: 0;
      max-width: 100%;
    }
  }
}

.title {
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.pop-movie {
  overflow: hidden;
  margin-bottom: 60px;

  &__title {
    @include lg {
      font-size: 30px;
    }
    animation: fadeIn 1s forwards 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
    opacity: 0;
    margin-left: 20px;
    font-weight: 500;
    font-size: 26px;
  }
}

.loading-cursor {
  cursor: progress;
}

::selection{
  background-color: $c-details;
  color: $c-white;
}
