$c-bg: #efefef;
$c-alt: #e41612;
$c-black: #121212;
$c-white: #fff;
$c-grey: #F2F2F2;
$c-lightgrey: lighten($c-grey, 2);
$c-darkgrey: darken($c-grey, 7);
$c-details: #1c94fa;
$c-details-light: #eef7ff;


// Responsive
$screen-sd: 500px;
$screen-md: 800px;
$screen-lg: 1000px;
$screen-xl: 1300px;
